#map {
  width: 80%;
  height: 100vh;
  float: left;
}

#user-list {
  width: 20%;
  height: 100vh;
  float: right;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #f4f4f4;
}

#user-list ul {
  list-style: none;
  padding: 0;
}

#user-list li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
